[Desktop Entry]
Name=PrBoom
Comment=A version of classic 3D shoot-em-up game DOOM
Comment[pl]=Wersja klasycznej strzelaniny 3D DOOM
Exec=prboom
Icon=prboom
Terminal=false
Type=Application
Categories=Game;X-FPPGame;
# vi: encoding=utf-8
